<configuration debug="false">
    <conversionRule conversionWord="scc" converterClass="io.irminsul.core.ServiceColorConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%gray(%d{HH:mm:ss.SSS}) [%scc(%logger{36})/%highlight(%level)]: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Disable Jetty and Spark logging -->
    <logger name="org.eclipse.jetty" level="OFF"/>
    <logger name="spark.embeddedserver.jetty" level="OFF"/>
    <logger name="spark.http.matching.MatcherFilter" level="OFF"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>